extends layout
    
block content
    include navbar  
    
    .container.align-items-center
        .row.justify-content-center
            .col-sm-12.col-md-8
                h1.text-center.text-md-left Hello #{currentUser.username.toUpperCase()}
                .row.align-items-center
                    .col-sm-12.col-md-6.text-center.text-md-left
                        
                        if currentUser.innerCircle
                            p.lead.font-italic.text-secondary All Hail Tri-Solaris
                            p.text-secondary.font-italic.text-warning You are a member of the Earth-Trisolaris Organization
                    .col.d-none.d-sm-none.d-md-block.col-md-6
                        if currentUser.innerCircle
                            a.btn.btn-success.font-bold.d-block.my-3(href="/post/create") Create new post
                   
                            a.btn.btn-success.font-bold.d-block.my-3(href=`/user/${currentUser._id}/posts`) View your posts
                             
                               
            if currentUser.innerCircle
                .row.text-center.justify-content-center.mb-3.d-md-none
                    .col
                        a.btn.btn-success.font-bold.mx-1(href="/post/create") New Post
                        a.btn.btn-success.font-bold.mx-1(href=`/user/${currentUser._id}/posts`) My Posts
                        
            
    .row.justify-content-center
        .col-sm-12.col-md-6.col-xl-5
            if posts
                - posts.sort((postA,postB)=>{ return postB.date-postA.date})
                ul.list-group
                    for post in posts
                        li.list-group-item
                            p.my-0.smallText.text-muted= post.formatDate
                            h5!= post.title
                            p!= post.post
                            hr
                            if currentUser.innerCircle
                                .container
                                    .row
                                        .col.text-left.px-0
                                            a(href=`/user/${post.user._id}`).text-success= post.user.username.toUpperCase()
                                            p.smallText= post.relTime
                                        .col-6.text-right.align-self-end
                                            if currentUser._id.toString()===post.user._id.toString()
                                                a.mx-2(href=`/post/${post._id}/edit`) Edit Post
                                            if currentUser.admin || currentUser._id.toString() === post.user._id.toString()
                                                a(href="/post/"+post._id+"/delete") Delete Post
                                        
                                            
                        
                        
